<!DOCTYPE html>
<html>
<head>
  <title>Rich Browser</title>
  <%= javascript_heads %>
  <%= stylesheet_link_tag    "application", :plugin => "redmine_ckeditor" %>
  <%= ckeditor_javascripts %>
  <%= javascript_include_tag "browser", :plugin => "redmine_ckeditor" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
